$color-dark: #252625;
$color-controls: #2E4159;
$color-base: #508BBF;
$color-dark-grey: #8F9DA6;
$color-light-gray: #CCD5D9;
$color-background: lighten($color-light-gray, 50%);
$color-accent: #FFBD5F;