@import "normalize";
@import "responsive";
@import "colors";
@import "layout";
@import "typography";

html, body {
    margin: 0;
    min-height: 100%;

    background-color: $color-background;
    color: $color-dark;
}

// typography
body {
    font-family: 'Merriweather', serif;
}

// components
.top-bar {
    background-color: $color-dark;
}

.logo {
    padding: $gap;

    &__link {
        font-family: 'Caveat', cursive;
        font-size: 1.6em;
        font-weight: bolder;
        text-decoration: none;
        color: $color-accent;
    }
}

.hero {

    &__image {
        height: $gap * 24;
    }
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.announce {
    margin-bottom: 2em;

    &__title {
        margin-top: 0;
        font-size: 1.3em;
    }

    &__thumbnail {
        height: $gap * 12;
    }

    &__link {
        color: $color-controls;
        text-decoration: none;
    }

    &__publication-date {
        color: $color-dark-grey;
        font-weight: bold;
    }
}

.icon-link {
    padding-left: $gap*1.5;
    &--telegram {
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../images/telegram-icon.svg");
    }
}

// typography
a {
    text-decoration: none;
}

.post {

    img {
        max-width: 100%;
    }
}

.footer {
    background-color: $color-controls;
}

.footer {
    .top-bar-logo {
        display: none;
    }
}

.footer-links {
    margin: 0;
    padding-top: $gap;
    padding-bottom: $gap;
    list-style: none;
    &__link {
        color: $color-light-gray;
    }
}

.copyright {
    padding-top: $gap;
    padding-bottom: $gap;
    background-color: $color-dark;
    color: $color-light-gray;
    text-align: center;
}
