@import "normalize";
@import "responsive";
@import "colors";
@import "layout";
@import "typography";

html, body {
    margin: 0;
    min-height: 100%;

    background-color: $color-background;
    color: $color-dark;
}

// typography
body {
    font-family: 'Merriweather', serif;
}

// components
.top-bar {
    background-color: $color-dark;

    @include lg {
        background: none;
    }
}

.logo {
    padding: $gap;

    &__link {
        font-family: 'Caveat', cursive;
        font-size: 1.6em;
        font-weight: bolder;
        text-decoration: none;
        color: $color-accent;
    }
}

.hero {

    &__image {
        height: $gap * 24;
    }
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.announces {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    row-gap: $gap*2;

    @include md {
        grid-template-columns: repeat(2, 1fr);
        column-gap: $gap;
    }

    @include lg {
        grid-template-columns: repeat(3, 1fr);
        column-gap: $gap;
    }
}

.announce {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $gap * 16 auto 1fr;
    grid-template-areas:
        "thumbnail"
        "heading";

    &__header {
        grid-area: heading;
        padding-top: $gap;
    }

    &__title {
        margin-top: 0;
        font-size: 1.3em;
    }

    &__thumbnail {
        grid-area: thumbnail;
    }

    &__link {
        color: $color-controls;
        text-decoration: none;
    }

    &__publication-date {
        color: $color-dark-grey;
        font-weight: bold;
    }

    &__summary {
        color: $color-dark-grey;
        font-style: italic;
    }

}

.icon-link {
    padding-left: $gap*1.5;
    background-position: left center;
    background-size: 1em;
    background-repeat: no-repeat;
    &--telegram {
        background-image: url("../images/telegram-icon.svg");
    }

    &--facebook {
        background-image: url("../images/facebook-icon.svg");
    }

    &--outdoor-ukraine {
        background-image: url("../images/outdoor-ukraine-logo.png");
    }
}

.footer {
    background-color: $color-controls;
    padding: $gap;

    &__content {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: none;
    }

    @include md {
        .logo {
            display: block;
        }

        &__content {
            flex-direction: row;
            justify-content: space-between;
        }

    }

    @include lg {
        display: grid;
        grid-template-columns: 1fr $screen-lg-min 1fr;

        &__content {
            grid-column-start: 2;
        }
    }
}

.footer-links {
    margin: 0;
    padding: 0;
    list-style: none;

    &__header {
        color: $color-light-gray;
        font-weight: bold;
        font-family: 'Caveat', cursive;
        font-size: 1.2em;
        margin-top: $gap;
    }

    &__item {
        padding-top: $gap;
    }

    &__link {
        color: $color-light-gray;
    }
}

.copyright {
    padding-top: $gap;
    padding-bottom: $gap;
    background-color: $color-dark;
    color: $color-light-gray;
    text-align: center;
}


// typography
a {
    text-decoration: none;
}

.post {

    img {
        max-width: 100%;
    }
}

